.card-container {
  max-width: 400px;
  /* max-height: 420px; */
  /* border: 1px solid lightgray; */
  padding: 20px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}

.image {
  width: 360px;
  height: 360px;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
}

.desc {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 4px;
}

.exercise-name,
.exercise-part,
.exercise-target,
.exercise-equipment {
  font-weight: 600;
}

.exercise-name > span {
  /* color: #316879; */
  color: var(--accent-color);
}

.exercise-part > span {
  color: var(--accent-color);
}

.exercise-target > span {
  color: var(--accent-color);

  /* color: #7fe7dc; */
}

.exercise-equipment > span {
  color: var(--accent-color);

  /* color: #ced7d8; */
}

.exercise-add-button {
  font-weight: 500;
  background-color: var(--background-color);
  /* background-color: black; */
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  color: white;
  width: max-content;
  margin-top: 8px;
  cursor: pointer;
}

.exercise-add-button:hover {
  background-color: var(--accent-color);
}
